/*========= CISSP THEME CSS ==========*/
/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap'); */
* {
  font-family: 'Open Sans', sans-serif;
}

/* Root Theme Colors */
:root {
   --primary:  #86181A !important;
   --primary-color: #86181A !important;
   --secondary:  #721314 !important;
   --secondary-color-1: #721314 !important;
   --secondary-color-2: #721314 !important;
   --success:  #85b9ce !important;
   --info:  #ffd74c !important;
   --warning:  #E07b27 !important;
   --danger:  #a31d28 !important;
   --light:  #ebebeb !important;
   --dark:  #424A54 !important;
   --isc-green-primary:#0f6e53 !important;
   --isc-green-secondary:#8cc440 !important;
   --blue: #007eb1!important;
   --indigo: #6610f2!important;
   --purple: #6f42c1!important;
   --pink: #e83e8c!important;
   --red: #a31d28!important;
   --orange: #E07b27!important;
   --yellow: #ffd74c!important;
   --green: #0f6e53!important;
   --teal: #20c997!important;
   --cyan: #17a2b8!important;
   --white: #fff!important;
   --gray: #6c757d!important;
   --gray-dark: #343a40!important;
}

/* Heading Styles and bold */
.h1 ,h1, .h2 ,h2, .h3,h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
  font-weight: 500 !important;
}

b, strong {
  font-weight: 700 !important;
}



/* Theme Text Colors */
.primary{color: var(--primary);}
.secondary{color: var(--secondary);}
.success{color: var(--success);}
.danger{background: var(--danger);}
.info{color: var(--info);}
.warning{color: var(--warning);}
.light{color: var(--light);}
.dark{color: var(--dark);}
.isc-green-primary{color: var(--isc-green-primary);}
.isc-green-secondary{color: var(--isc-green-secondary);}

/* Theme Background Colors */
.color-prim-one {
   background-color: var(--primary);
   color: #FFFFFF;
 }
 
 .color-prim-two {
   background-color: var(--secondary);
   color: #ffffff;
 }
 
 .color-prim-three {
   background-color: var(--success);;
   color: #000000;
 }
 
 .color-sec-one {
   background-color: #46A661;
   color: #000000;
 }
 
 .color-sec-two {
   background-color: #FFBA59;
   color: #000000;
 }
 
 .color-sec-three {
   background-color: #CD2026;
   color: #FFFFFF;
 }
 
 .color-sec-four {
   background-color: #00BDDD;
   color: #000000;
 }
 
 .color-sec-five {
   background-color: #29A6FF;
   color: #000000;
 }
 
 .color-sec-six {
   background-color: #4C3F99;
   color: #FFFFFF;
 }
 
 .color-sec-seven {
   background-color: #017D79;
   color: #FFFFFF;
 }

/*********************************
HEADING COLORS********************
**********************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.card-graphic .card-body .card-header, .card-graphic .card-body h2, .card-graphic .card-body h3, .card-graphic .card-body h4, .card-graphic .card-body h5, .card-graphic .card-body h6, .card-standard .card-body .card-header, .card-standard .card-body h2, .card-standard .card-body h3, .card-standard .card-body h4, .card-standard .card-body h5, .card-standard .card-body h6, p.text-primary {
   color: var(--primary-color) !important;
}

h1.page-title{
  color: var(--gray-dark) !important;
}

a:hover, a:focus, a:active {
  color: var(--primary);
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
}

.overlay-content h1, 
.overlay-content h2, 
.overlay-content h3, 
.overlay-content h4, 
.overlay-content h5, 
.overlay-content h6 {
   color: white !important;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
   color: white !important;
}

/*********************************
BUTTONS***************************
**********************************/
button, .btn {
   font-size: 1.125rem;
   font-weight: bold;
   border-radius: 6px;
   padding: 0.5rem 1.5rem 0.75rem;
   line-height: 1.25;
   -webkit-appearance: none;
   /* Default Button and Primary Button - this can be split up if necessary */
   /* Secondary Button */
 }
 
 /* PRIMARY BUTTON */
 button.btn-primary, .btn.btn-primary{
   background-color: var(--primary);
   border-color: var(--primary);
   color: #FFFFFF;
 }
 
 button.btn-primary:hover, .btn.btn-primary:hover{
   background-color: var(--secondary);
   border-color: var(--secondary);
   color: #FFFFFF;
 }
 
 button.btn-primary:focus, .btn.btn-primary:focus{
   background-color: var(--primary);
   border-color: #FFFFFF;
   -webkit-box-shadow: 0 0 0 2px var(--secondary);
           box-shadow: 0 0 0 2px var(--secondary);
 }
 
 button.btn-primary:disabled, button.btn-primary[aria-expanded="true"], .btn.btn-primary:disabled, .btn.btn-primary[aria-expanded="true"]{
   background-color: var(--primary);
 }
 
 button.btn-primary:active, button.btn-primary:active:hover, button.btn-primary:active:focus, .btn.btn-primary:active, .btn.btn-primary:active:hover, .btn.btn-primary:active:focus {
   background-color: var(--primary);
   border-color: var(--primary);
   color: #FFFFFF;
 }
 
 button.btn-primary:disabled, button.btn-primary[aria-expanded="true"], .btn.btn-primary:disabled, .btn.btn-primary[aria-expanded="true"]{
   background-color: var(--primary);
   border-color: var(--primary);
   color: #FFFFFF;
 }
 
 button.btn-primary:disabled:hover, button.btn-primary[aria-expanded="true"]:hover, .btn.btn-primary:disabled:hover, .btn.btn-primary[aria-expanded="true"]:hover {
   background-color: var(--primary);
   border-color: var(--primary);
   color: #FFFFFF;
 }
 
 /* SECONDARY BUTTON */
 button.btn-secondary, .btn.btn-secondary {
   background-color: var(--secondary);
   border-color: var(--secondary);
   color: #FFFFFF;
 }
 
 button.btn-secondary:hover, .btn.btn-secondary:hover {
  background-color: var(--secondary);
  opacity: 80%;
  border-color: var(--secondary);
  color: #FFFFFF;
}

 button.btn-secondary:focus, .btn.btn-secondary:focus {
   background-color: var(--secondary);
   border-color: #FFFFFF;
   -webkit-box-shadow: 0 0 0 2px var(--secondary);
           box-shadow: 0 0 0 2px var(--secondary);
 }
 
 button.btn-secondary:disabled, button.btn-secondary[aria-expanded="true"], .btn.btn-secondary:disabled, .btn.btn-secondary[aria-expanded="true"] {
   background-color: var(--secondary);
 }
 
 button.btn-secondary:active, button.btn-secondary:active:hover, button.btn-secondary:active:focus, .btn.btn-secondary:active, .btn.btn-secondary:active:hover, .btn.btn-secondary:active:focus {
   background-color: var(--secondary);
   border-color: var(--secondary);
   color: #FFFFFF;
 }
 
 button.btn-secondary:disabled, button.btn-secondary[aria-expanded="true"], .btn.btn-secondary:disabled, .btn.btn-secondary[aria-expanded="true"] {
   background-color: var(--secondary);
   border-color: var(--secondary);
   color: #FFFFFF;
 }
 
 button.btn-secondary:disabled:hover, button.btn-secondary[aria-expanded="true"]:hover, .btn.btn-secondary:disabled:hover, .btn.btn-secondary[aria-expanded="true"]:hover {
   background-color: var(--secondary);
   border-color: var(--secondary);
   color: #FFFFFF;
 }
 
 /* SUCCESS BUTTON */
 button.btn-success, .btn.btn-success {
   background-color: var(--success);
   border-color: var(--success);
   color: #FFFFFF;
 }
 
 button.btn-success:hover, .btn.btn-success:hover {
  background-color: var(--success);
  border-color: var(--success);
  opacity: 80%;
  color: #FFFFFF;
}

 button.btn-success:focus, .btn.btn-success:focus {
   background-color: var(--success);
   border-color: #FFFFFF;
   -webkit-box-shadow: 0 0 0 2px var(--success);
           box-shadow: 0 0 0 2px var(--success);
 }
 
 button.btn-success:disabled, button.btn-success[aria-expanded="true"], .btn.btn-success:disabled, .btn.btn-success[aria-expanded="true"] {
   background-color: var(--success);
 }
 
 button.btn-success:active, button.btn-success:active:hover, button.btn-success:active:focus, .btn.btn-success:active, .btn.btn-success:active:hover, .btn.btn-success:active:focus {
   background-color: var(--success);
   border-color: var(--success);
   color: #FFFFFF;
 }
 
 button.btn-success:disabled, button.btn-success[aria-expanded="true"], .btn.btn-success:disabled, .btn.btn-success[aria-expanded="true"] {
   background-color: var(--success);
   border-color: var(--success);
   color: #FFFFFF;
 }
 
 button.btn-success:disabled:hover, button.btn-success[aria-expanded="true"]:hover, .btn.btn-success:disabled:hover, .btn.btn-success[aria-expanded="true"]:hover {
   background-color: var(--success);
   border-color: var(--success);
   color: #FFFFFF;
 }

 /* DANGER BUTTON */
 button.btn-danger, .btn.btn-danger {
   background-color: var(--danger);
   border-color: var(--danger);
   color: #FFFFFF;
 }
 
 button.btn-danger:hover, .btn.btn-danger:hover {
  background-color: var(--danger);
  border-color: var(--danger);
  opacity: 80%;
  color: #FFFFFF;
}

 button.btn-danger:focus, .btn.btn-danger:focus {
   background-color: var(--danger);
   border-color: #FFFFFF;
   -webkit-box-shadow: 0 0 0 2px var(--danger);
           box-shadow: 0 0 0 2px var(--danger);
 }
 
 button.btn-danger:disabled, button.btn-danger[aria-expanded="true"], .btn.btn-danger:disabled, .btn.btn-danger[aria-expanded="true"] {
   background-color: var(--danger);
 }
 
 button.btn-danger:active, button.btn-danger:active:hover, button.btn-danger:active:focus, .btn.btn-danger:active, .btn.btn-danger:active:hover, .btn.btn-danger:active:focus {
   background-color: var(--danger);
   border-color: var(--danger);
   color: #FFFFFF;
 }
 
 button.btn-danger:disabled, button.btn-danger[aria-expanded="true"], .btn.btn-danger:disabled, .btn.btn-danger[aria-expanded="true"] {
   background-color: var(--danger);
   border-color: var(--danger);
   color: #FFFFFF;
 }
 
 button.btn-danger:disabled:hover, button.btn-danger[aria-expanded="true"]:hover, .btn.btn-danger:disabled:hover, .btn.btn-danger[aria-expanded="true"]:hover {
   background-color: var(--danger);
   border-color: var(--danger);
   color: #FFFFFF;
 }
 /* WARNING BUTTON */
 button.btn-warning, .btn.btn-warning {
   background-color: var(--warning);
   border-color: var(--warning);
   color: #FFFFFF;
 }
 
 button.btn-warning:hover, .btn.btn-warning:hover {
  background-color: var(--warning);
  border-color: var(--warning);
  opacity: 80%;
  color: #FFFFFF;
}

 button.btn-warning:focus, .btn.btn-warning:focus {
   background-color: var(--warning);
   border-color: #FFFFFF;
   -webkit-box-shadow: 0 0 0 2px var(--warning);
           box-shadow: 0 0 0 2px var(--warning);
 }
 
 button.btn-warning:disabled, button.btn-warning[aria-expanded="true"], .btn.btn-warning:disabled, .btn.btn-warning[aria-expanded="true"] {
   background-color: var(--warning);
 }
 
 button.btn-warning:active, button.btn-warning:active:hover, button.btn-warning:active:focus, .btn.btn-warning:active, .btn.btn-warning:active:hover, .btn.btn-warning:active:focus {
   background-color: var(--warning);
   border-color: var(--warning);
   color: #FFFFFF;
 }
 
 button.btn-warning:disabled, button.btn-warning[aria-expanded="true"], .btn.btn-warning:disabled, .btn.btn-warning[aria-expanded="true"] {
   background-color: var(--warning);
   border-color: var(--warning);
   color: #FFFFFF;
 }
 
 button.btn-warning:disabled:hover, button.btn-warning[aria-expanded="true"]:hover, .btn.btn-warning:disabled:hover, .btn.btn-warning[aria-expanded="true"]:hover {
   background-color: var(--warning);
   border-color: var(--warning);
   color: #FFFFFF;
 }
 /* INFO BUTTON */
 button.btn-info, .btn.btn-info {
   background-color: var(--info);
   border-color: var(--info);
   color: #A68719;
 }
 
 button.btn-info:hover, .btn.btn-info:hover {
  background-color: var(--info);
  border-color: var(--info);
  opacity: 80%;
  color: #A68719;
}

 button.btn-info:focus, .btn.btn-info:focus {
   background-color: var(--info);
   border-color: #FFFFFF;
   -webkit-box-shadow: 0 0 0 2px var(--info);
           box-shadow: 0 0 0 2px var(--info);
 }
 
 button.btn-info:disabled, button.btn-info[aria-expanded="true"], .btn.btn-info:disabled, .btn.btn-info[aria-expanded="true"] {
   background-color: var(--info);
 }
 
 button.btn-info:active, button.btn-info:active:hover, button.btn-info:active:focus, .btn.btn-info:active, .btn.btn-info:active:hover, .btn.btn-info:active:focus {
   background-color: var(--info);
   border-color: var(--info);
   color: #FFFFFF;
 }
 
 button.btn-info:disabled, button.btn-info[aria-expanded="true"], .btn.btn-info:disabled, .btn.btn-info[aria-expanded="true"] {
   background-color: var(--info);
   border-color: var(--info);
   color: #FFFFFF;
 }
 
 button.btn-info:disabled:hover, button.btn-info[aria-expanded="true"]:hover, .btn.btn-info:disabled:hover, .btn.btn-info[aria-expanded="true"]:hover {
   background-color: var(--info);
   border-color: var(--info);
   color: #FFFFFF;
 }
 button.expandall, .btn.expandall {
   margin-left: 0;
   margin-bottom: 5px;
 }
 
 button.btn-reveal, .btn.btn-reveal {
   margin: .5rem auto 1.5rem;
 }

 .btn-outline-primary {
   color: var(--primary);
   border-color: var(--primary);
 }

 .btn-outline-primary:hover {
   color: #fff;
   background: var(--primary);
 }
 .btn-outline-secondary {
   color: var(--secondary);
   border-color: var(--secondary);
 }

 .btn-outline-secondary:hover {
   color: #fff;
   background: var(--secondary);
 }
 .btn-outline-success {
   color: var(--success);
   border-color: var(--success);
 }

 .btn-outline-success:hover {
   color: #fff;
   background: var(--success);
 }
 .btn-outline-danger {
   color: var(--danger);
   border-color: var(--danger);
 }

 .btn-outline-danger:hover {
   color: #fff;
   background: var(--danger);
 }
 .btn-outline-warning {
   color: var(--warning);
   border-color: var(--warning);
 }

 .btn-outline-warning:hover {
   color: #fff;
   background: var(--warning);
 }
 .btn-outline-info {
   color: var(--info);
   border-color: var(--info);
 }

 .btn-outline-info:hover {
   color: #A68719;
   background: var(--info);
   border-color: var(--info);
 }



/*********************************
SCROLL-FRAME**********************
**********************************/
.scroll-frame {
  max-height: 375px;
  overflow-y: scroll;
}

/*********************************
TOOLTIPS**************************
**********************************/
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: var(--secondary);
  border-radius: .25rem;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: var(--secondary);
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before{
  border-right-color: var(--secondary);
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before{
  border-bottom-color: var(--secondary);
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {  
  border-left-color: var(--secondary);
}

/*********************************
IMAGE GROW EFFECT*****************
**********************************/
/* Hover Effects */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

/*********************************
LISTS AND TABLES******************
**********************************/
/* Custom visual styling for paragraph to be highlighted/emphasised to learner in addition to or instead of <em>. */
.emphasis {
   color: var(--primary-color) !important;
}
/* List styling */
ul li:before, ul li ul li:before {
   background-color: var(--primary-color) ;
}

ol li ul li:before {
   background-color: var(--primary-color) ;
   border-color: var(--primary-color) ;
}

ol.large-number li:before, ol.large-number ol li:before, ol.large-number ul li:before {
   color: var(--primary-color) ;
}

ol.box-alpha li:before, ol.box-number li:before {
   background-color: var(--primary-color) ;
}
/* Jumbotron styling */
.jumbotron {
   background-color: var(--primary-color) !important;
}
/* Callout styling */
.card-graphic, .card-standard {
   border-color: var(--secondary-color-1) !important;
}

.table-responsive thead tr, .table thead tr, .table-reveal thead tr th {
   background: var(--primary-color) !important;

}
/* Table styling */
.table-responsive thead th a, .table-responsive thead th ol, .table-responsive thead th p, .table-responsive thead th ul, .table thead th a, .table thead th ol, .table thead th p, .table thead th ul {
   color: #ffffff;
   font-weight: bold;
}
/* Banner styling */
.overlay-content.bg-darkness, .overlay-content .bg-darkness {
   background-color: var(--primary-color) !important;
}

/* Panel styling */
.stacked-panels .card.bg-alt, .two-col-panels .card.bg-alt {
   background-color: var(--primary-color) !important;
}



/*********************************
BADGES****************************
**********************************/
.badge-primary {
   background: var(--primary);
}
.badge-secondary {
   background: var(--secondary);
}

.badge-light {
  background: var(--light);
}

/*********************************
PROGRESS BAR**********************
**********************************/
.progress-bar {
  background-color: var(--primary);
}

/*********************************
TIMELINE**************************
**********************************/
.timeline .timeline-badge {
   background-color: var(--primary);
   /* box-shadow: rgb(0, 126, 177) 0px 0px 0px 1px; */
}

/*********************************
TAB PANELS************************
**********************************/
.list-group-item {
   background-color: var(--primary-color, .5);
   border-color: var(--secondary-color-1, .5);
   color: #fff;
}
.list-group-item:hover {
   background-color: var(--secondary-color-1, .5);
   border-color: var(--primary-color, .5);
   color: #fff;
}
.list-group-item.active {
   background: var(--secondary-color-1) !important;
}


/*********************************
ACCORDIONS************************
**********************************/
.accordion .card .card-title button[aria-expanded=true], .accordion.accordion-alt-icon.accordion-num .card-title button:before, .badge-primary, .accordion .card .card-title button[aria-expanded=true]  {
  background: var(--primary-color) !important;
}

.accordion.accordion-alt-icon .card .card-title button[aria-expanded="true"]:after {
   /*
                   content: "\2212";
                   background-color: $neutral-four;
                   color: $primary;
                    Alternate option with background image 
                   */
   background: url(../img/collapse.svg) !important;
 }
 
 .accordion.accordion-alt-icon .card .card-title button[aria-expanded="false"]:after {
   /*content: "\002B";
 
                    Alternate option with background image */
   background: url(../img/expand.svg) !important;
 }



/*********************************
FLIP CARDS************************
**********************************/
 /* .flip-card-set .flip-card .flip-card-content .flip-card-front {
   background: #FFFFFF url(../img/pdi-arrow-right.svg) no-repeat bottom 1.3125rem right 1.3125rem;
 }

 .flip-card-set .flip-card .flip-card-content .flip-card-front.bg-img-wrapper .flip-card-front-body {
   background: #FFFFFF url(../img/pdi-arrow-right.svg) no-repeat bottom 1.3125rem right 1.3125rem;
 }

 .flip-card-set .flip-card .flip-card-content .flip-card-back {
   background: #FFFFFF url(../img/pdi-arrow-left.svg) no-repeat bottom 1.3125rem left 1.3125rem;
 } */



/*********************************
IMAGE MAP*************************
**********************************/
.image-map {
   display: inline-block;
   position: relative;
   list-style: none !important;
 }
 
 .image-map img {
   width: 100%;
   max-width: 100%;
 }
 
.image-map ul li {
   display: inline-block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none !important;
}


.image-map ul li::before {
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none !important;
    display: none;
}
 
 
 .image-map .trigger {
   display: inline-block;
   font-style: normal;
   padding: 6px 8px;
   text-decoration: none;
   position: absolute;
   top: 45%;
   border-radius: 50%;
   z-index: 1000;
 }
 
 .image-map .trigger:hover,
 .image-map .trigger:focus,
 .image-map .trigger:active {
   background: var(--secondary);
   color: #ffffff;
 }


 blockquote > footer {
   border-top: 4px solid var(--secondary);
 }

/*********************************
VIDEO PLAYER**********************
**********************************/
@keyframes plyr-progress {
  to {
    background-position: 25px 0;
  }
}
@keyframes plyr-popup {
  0% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes plyr-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.plyr {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
  font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  line-height: 1.7;
  max-width: 100%;
  min-width: 200px;
  position: relative;
  text-shadow: none;
  transition: box-shadow 0.3s ease;
}
.plyr video,
.plyr audio {
  border-radius: inherit;
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.plyr button {
  font: inherit;
  line-height: inherit;
  width: auto;
}
.plyr:focus {
  outline: 0;
}

.plyr--full-ui {
  box-sizing: border-box;
}
.plyr--full-ui *,
.plyr--full-ui *::after,
.plyr--full-ui *::before {
  box-sizing: inherit;
}

.plyr--full-ui a,
.plyr--full-ui button,
.plyr--full-ui input,
.plyr--full-ui label {
  touch-action: manipulation;
}

.plyr__badge {
  background: #4f5b5f;
  border-radius: 2px;
  color: #fff;
  font-size: 9px;
  line-height: 1;
  padding: 3px 4px;
}

.plyr--full-ui ::-webkit-media-text-track-container {
  display: none;
}

.plyr__captions {
  animation: plyr-fade-in 0.3s ease;
  bottom: 0;
  color: #fff;
  display: none;
  font-size: 14px;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}
.plyr__captions .plyr__caption {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  box-decoration-break: clone;
  line-height: 185%;
  padding: 0.2em 0.5em;
  white-space: pre-wrap;
}
.plyr__captions .plyr__caption div {
  display: inline;
}
.plyr__captions span:empty {
  display: none;
}
@media (min-width: 480px) {
  .plyr__captions {
    font-size: 16px;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .plyr__captions {
    font-size: 18px;
  }
}

.plyr--captions-active .plyr__captions {
  display: block;
}

.plyr:not(.plyr--hide-controls) .plyr__controls:not(:empty) ~ .plyr__captions {
  transform: translateY(-40px);
}

.plyr__control {
  background: transparent;
  border: 0;
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
  overflow: visible;
  padding: 7px;
  position: relative;
  transition: all 0.3s ease;
}
.plyr__control svg {
  display: block;
  fill: currentColor;
  height: 18px;
  pointer-events: none;
  width: 18px;
}
.plyr__control:focus {
  outline: 0;
}
.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px var(--primary);
  outline: 0;
}

a.plyr__control {
  text-decoration: none;
}
a.plyr__control::after, a.plyr__control::before {
  display: none;
}

.plyr__control:not(.plyr__control--pressed) .icon--pressed,
.plyr__control.plyr__control--pressed .icon--not-pressed,
.plyr__control:not(.plyr__control--pressed) .label--pressed,
.plyr__control.plyr__control--pressed .label--not-pressed {
  display: none;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
  background: var(--primary);
  color: #fff;
}

.plyr--video .plyr__control svg {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background: var(--primary);
  color: #fff;
}

.plyr__control--overlaid {
  background: var(--primary);
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: none;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.plyr__control--overlaid svg {
  left: 2px;
  position: relative;
}
.plyr__control--overlaid:hover, .plyr__control--overlaid:focus {
  background: var(--secondary);
}

.plyr--playing .plyr__control--overlaid {
  opacity: 0;
  visibility: hidden;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  display: block;
}

.plyr--full-ui ::-webkit-media-controls {
  display: none;
}

.plyr__controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.plyr__controls .plyr__progress__container {
  flex: 1;
}
.plyr__controls .plyr__controls__item {
  margin-left: 2.5px;
}
.plyr__controls .plyr__controls__item:first-child {
  margin-left: 0;
  margin-right: auto;
}
.plyr__controls .plyr__controls__item.plyr__progress__container {
  padding-left: 2.5px;
}
.plyr__controls .plyr__controls__item.plyr__time {
  padding: 0 5px;
}
.plyr__controls .plyr__controls__item.plyr__progress__container:first-child, .plyr__controls .plyr__controls__item.plyr__time:first-child, .plyr__controls .plyr__controls__item.plyr__time + .plyr__time {
  padding-left: 0;
}
.plyr__controls .plyr__controls__item.plyr__volume {
  padding-right: 5px;
}
.plyr__controls .plyr__controls__item.plyr__volume:first-child {
  padding-right: 0;
}
.plyr__controls:empty {
  display: none;
}

.plyr--audio .plyr__controls {
  background: #fff;
  border-radius: inherit;
  color: #4f5b5f;
  padding: 10px;
}

.plyr--video .plyr__controls {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 20px 5px 5px;
  position: absolute;
  right: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  z-index: 3;
}
@media (min-width: 480px) {
  .plyr--video .plyr__controls {
    padding: 35px 10px 10px;
  }
}

.plyr--video.plyr--hide-controls .plyr__controls {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}

.plyr [data-plyr=captions],
.plyr [data-plyr=pip],
.plyr [data-plyr=airplay],
.plyr [data-plyr=fullscreen] {
  display: none;
}

.plyr--captions-enabled [data-plyr=captions],
.plyr--pip-supported [data-plyr=pip],
.plyr--airplay-supported [data-plyr=airplay],
.plyr--fullscreen-enabled [data-plyr=fullscreen] {
  display: inline-block;
}

.plyr__menu {
  display: flex;
  position: relative;
}
.plyr__menu .plyr__control svg {
  transition: transform 0.3s ease;
}
.plyr__menu .plyr__control[aria-expanded=true] svg {
  transform: rotate(90deg);
}
.plyr__menu .plyr__control[aria-expanded=true] .plyr__tooltip {
  display: none;
}
.plyr__menu__container {
  animation: plyr-popup 0.2s ease;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #4f5b5f;
  font-size: 16px;
  margin-bottom: 10px;
  position: absolute;
  right: -3px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.plyr__menu__container > div {
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0.4, 0, 0.2, 1), width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.plyr__menu__container::after {
  border: 4px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.9);
  content: "";
  height: 0;
  position: absolute;
  right: 15px;
  top: 100%;
  width: 0;
}
.plyr__menu__container [role=menu] {
  padding: 7px;
}
.plyr__menu__container [role=menuitem],
.plyr__menu__container [role=menuitemradio] {
  margin-top: 2px;
}
.plyr__menu__container [role=menuitem]:first-child,
.plyr__menu__container [role=menuitemradio]:first-child {
  margin-top: 0;
}
.plyr__menu__container .plyr__control {
  align-items: center;
  color: #4f5b5f;
  display: flex;
  font-size: 14px;
  padding: 4px 11px;
  user-select: none;
  width: 100%;
}
.plyr__menu__container .plyr__control > span {
  align-items: inherit;
  display: flex;
  width: 100%;
}
.plyr__menu__container .plyr__control::after {
  border: 4px solid transparent;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plyr__menu__container .plyr__control--forward {
  padding-right: 28px;
}
.plyr__menu__container .plyr__control--forward::after {
  border-left-color: rgba(79, 91, 95, 0.8);
  right: 5px;
}
.plyr__menu__container .plyr__control--forward.plyr__tab-focus::after, .plyr__menu__container .plyr__control--forward:hover::after {
  border-left-color: currentColor;
}
.plyr__menu__container .plyr__control--back {
  font-weight: 500;
  margin: 7px;
  margin-bottom: 3px;
  padding-left: 28px;
  position: relative;
  width: calc(100% - 14px);
}
.plyr__menu__container .plyr__control--back::after {
  border-right-color: rgba(79, 91, 95, 0.8);
  left: 7px;
}
.plyr__menu__container .plyr__control--back::before {
  background: #b7c5cd;
  box-shadow: 0 1px 0 #fff;
  content: "";
  height: 1px;
  left: 0;
  margin-top: 4px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
}
.plyr__menu__container .plyr__control--back.plyr__tab-focus::after, .plyr__menu__container .plyr__control--back:hover::after {
  border-right-color: currentColor;
}
.plyr__menu__container .plyr__control[role=menuitemradio] {
  padding-left: 7px;
}
.plyr__menu__container .plyr__control[role=menuitemradio]::before, .plyr__menu__container .plyr__control[role=menuitemradio]::after {
  border-radius: 100%;
}
.plyr__menu__container .plyr__control[role=menuitemradio]::before {
  background: rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  flex-shrink: 0;
  height: 16px;
  margin-right: 10px;
  transition: all 0.3s ease;
  width: 16px;
}
.plyr__menu__container .plyr__control[role=menuitemradio]::after {
  background: #fff;
  border: 0;
  height: 6px;
  left: 12px;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 6px;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: var(--primary);
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::after {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.plyr__menu__container .plyr__control[role=menuitemradio].plyr__tab-focus::before, .plyr__menu__container .plyr__control[role=menuitemradio]:hover::before {
  background: rgba(0, 0, 0, 0.1);
}
.plyr__menu__container .plyr__menu__value {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: -5px;
  overflow: hidden;
  padding-left: 25px;
  pointer-events: none;
}

.plyr--full-ui input[type=range] {
  -webkit-appearance: none;
  /* stylelint-disable-line */
  background: transparent;
  border: 0;
  border-radius: 26px;
  color: var(--primary);
  display: block;
  height: 19px;
  margin: 0;
  padding: 0;
  transition: box-shadow 0.3s ease;
  width: 100%;
}
.plyr--full-ui input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  user-select: none;
  background-image: linear-gradient(to right, currentColor var(--value, 0%), transparent var(--value, 0%));
}
.plyr--full-ui input[type=range]::-webkit-slider-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2);
  height: 13px;
  position: relative;
  transition: all 0.2s ease;
  width: 13px;
  -webkit-appearance: none;
  /* stylelint-disable-line */
  margin-top: -4px;
}
.plyr--full-ui input[type=range]::-moz-range-track {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  user-select: none;
}
.plyr--full-ui input[type=range]::-moz-range-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2);
  height: 13px;
  position: relative;
  transition: all 0.2s ease;
  width: 13px;
}
.plyr--full-ui input[type=range]::-moz-range-progress {
  background: currentColor;
  border-radius: 2.5px;
  height: 5px;
}
.plyr--full-ui input[type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  user-select: none;
  color: transparent;
}
.plyr--full-ui input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  user-select: none;
}
.plyr--full-ui input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  transition: box-shadow 0.3s ease;
  user-select: none;
  background: currentColor;
}
.plyr--full-ui input[type=range]::-ms-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2);
  height: 13px;
  position: relative;
  transition: all 0.2s ease;
  width: 13px;
  margin-top: 0;
}
.plyr--full-ui input[type=range]::-ms-tooltip {
  display: none;
}
.plyr--full-ui input[type=range]:focus {
  outline: 0;
}
.plyr--full-ui input[type=range]::-moz-focus-outer {
  border: 0;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
  box-shadow: 0 0 0 5px rgba(26, 175, 255, 0.5);
  outline: 0;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-moz-range-track {
  box-shadow: 0 0 0 5px rgba(26, 175, 255, 0.5);
  outline: 0;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-ms-track {
  box-shadow: 0 0 0 5px rgba(26, 175, 255, 0.5);
  outline: 0;
}

.plyr--full-ui.plyr--video input[type=range]::-webkit-slider-runnable-track {
  background-color: rgba(255, 255, 255, 0.25);
}
.plyr--full-ui.plyr--video input[type=range]::-moz-range-track {
  background-color: rgba(255, 255, 255, 0.25);
}
.plyr--full-ui.plyr--video input[type=range]::-ms-track {
  background-color: rgba(255, 255, 255, 0.25);
}
.plyr--full-ui.plyr--video input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.plyr--full-ui.plyr--video input[type=range]:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.plyr--full-ui.plyr--video input[type=range]:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.plyr--full-ui.plyr--audio input[type=range]::-webkit-slider-runnable-track {
  background-color: rgba(183, 197, 205, 0.66);
}
.plyr--full-ui.plyr--audio input[type=range]::-moz-range-track {
  background-color: rgba(183, 197, 205, 0.66);
}
.plyr--full-ui.plyr--audio input[type=range]::-ms-track {
  background-color: rgba(183, 197, 205, 0.66);
}
.plyr--full-ui.plyr--audio input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.plyr--full-ui.plyr--audio input[type=range]:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.plyr--full-ui.plyr--audio input[type=range]:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.plyr__poster {
  background-color: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  z-index: 1;
}

.plyr--stopped.plyr__poster-enabled .plyr__poster {
  opacity: 1;
}

.plyr__time {
  font-size: 14px;
}

.plyr__time + .plyr__time::before {
  content: "⁄";
  margin-right: 10px;
}
@media (max-width: 767px) {
  .plyr__time + .plyr__time {
    display: none;
  }
}

.plyr--video .plyr__time {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.plyr__tooltip {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #4f5b5f;
  font-size: 14px;
  font-weight: 500;
  left: 50%;
  line-height: 1.3;
  margin-bottom: 10px;
  opacity: 0;
  padding: 5px 7.5px;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 10px) scale(0.8);
  transform-origin: 50% 100%;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
  white-space: nowrap;
  z-index: 2;
}
.plyr__tooltip::before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.9);
  bottom: -4px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  z-index: 2;
}

.plyr .plyr__control:hover .plyr__tooltip,
.plyr .plyr__control.plyr__tab-focus .plyr__tooltip,
.plyr__tooltip--visible {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}

.plyr .plyr__control:hover .plyr__tooltip {
  z-index: 3;
}

.plyr__controls > .plyr__control:first-child .plyr__tooltip,
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip {
  left: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 0 100%;
}
.plyr__controls > .plyr__control:first-child .plyr__tooltip::before,
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip::before {
  left: 16px;
}

.plyr__controls > .plyr__control:last-child .plyr__tooltip {
  left: auto;
  right: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 100% 100%;
}
.plyr__controls > .plyr__control:last-child .plyr__tooltip::before {
  left: auto;
  right: 16px;
  transform: translateX(50%);
}

.plyr__controls > .plyr__control:first-child:hover .plyr__tooltip, .plyr__controls > .plyr__control:first-child.plyr__tab-focus .plyr__tooltip,
.plyr__controls > .plyr__control:first-child .plyr__tooltip--visible,
.plyr__controls > .plyr__control:first-child + .plyr__control:hover .plyr__tooltip,
.plyr__controls > .plyr__control:first-child + .plyr__control.plyr__tab-focus .plyr__tooltip,
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip--visible,
.plyr__controls > .plyr__control:last-child:hover .plyr__tooltip,
.plyr__controls > .plyr__control:last-child.plyr__tab-focus .plyr__tooltip,
.plyr__controls > .plyr__control:last-child .plyr__tooltip--visible {
  transform: translate(0, 0) scale(1);
}

.plyr--video {
  background: #000;
  overflow: hidden;
}
.plyr--video.plyr--menu-open {
  overflow: visible;
}

.plyr__video-wrapper {
  background: #000;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.plyr__video-embed,
.plyr__video-wrapper--fixed-ratio {
  height: 0;
  padding-bottom: 56.25%;
}

.plyr__video-embed iframe,
.plyr__video-wrapper--fixed-ratio video {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
}

.plyr--full-ui .plyr__video-embed > .plyr__video-embed__container {
  padding-bottom: 240%;
  position: relative;
  transform: translateY(-38.28125%);
}

.plyr__progress {
  left: 6.5px;
  margin-right: 13px;
  position: relative;
}
.plyr__progress input[type=range], .plyr__progress__buffer {
  margin-left: -6.5px;
  margin-right: -6.5px;
  width: calc(100% + 13px);
}
.plyr__progress input[type=range] {
  position: relative;
  z-index: 2;
}
.plyr__progress .plyr__tooltip {
  font-size: 14px;
  left: 0;
}

.plyr__progress__buffer {
  -webkit-appearance: none;
  /* stylelint-disable-line */
  background: transparent;
  border: 0;
  border-radius: 100px;
  height: 5px;
  left: 0;
  margin-top: -2.5px;
  padding: 0;
  position: absolute;
  top: 50%;
}
.plyr__progress__buffer::-webkit-progress-bar {
  background: transparent;
}
.plyr__progress__buffer::-webkit-progress-value {
  background: currentColor;
  border-radius: 100px;
  min-width: 5px;
  transition: width 0.2s ease;
}
.plyr__progress__buffer::-moz-progress-bar {
  background: currentColor;
  border-radius: 100px;
  min-width: 5px;
  transition: width 0.2s ease;
}
.plyr__progress__buffer::-ms-fill {
  border-radius: 100px;
  transition: width 0.2s ease;
}

.plyr--video .plyr__progress__buffer {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.25);
}

.plyr--audio .plyr__progress__buffer {
  color: rgba(183, 197, 205, 0.66);
}

.plyr--loading .plyr__progress__buffer {
  animation: plyr-progress 1s linear infinite;
  background-image: linear-gradient(-45deg, rgba(47, 52, 61, 0.6) 25%, transparent 25%, transparent 50%, rgba(47, 52, 61, 0.6) 50%, rgba(47, 52, 61, 0.6) 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  background-size: 25px 25px;
  color: transparent;
}

.plyr--video.plyr--loading .plyr__progress__buffer {
  background-color: rgba(255, 255, 255, 0.25);
}

.plyr--audio.plyr--loading .plyr__progress__buffer {
  background-color: rgba(183, 197, 205, 0.66);
}

.plyr__volume {
  align-items: center;
  display: flex;
  flex: 1;
  position: relative;
}
.plyr__volume input[type=range] {
  margin-left: 5px;
  position: relative;
  z-index: 2;
}
@media (min-width: 480px) {
  .plyr__volume {
    max-width: 90px;
  }
}
@media (min-width: 768px) {
  .plyr__volume {
    max-width: 110px;
  }
}

.plyr--is-ios .plyr__volume {
  display: none !important;
}

.plyr--is-ios.plyr--vimeo [data-plyr=mute] {
  display: none !important;
}

.plyr:fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:fullscreen video {
  height: 100%;
}
.plyr:fullscreen .plyr__video-wrapper {
  height: 100%;
  width: 100%;
}
.plyr:fullscreen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}
.plyr:fullscreen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:fullscreen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:fullscreen.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr:fullscreen .plyr__captions {
    font-size: 21px;
  }
}

/* stylelint-disable-next-line */
.plyr:-webkit-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:-webkit-full-screen video {
  height: 100%;
}
.plyr:-webkit-full-screen .plyr__video-wrapper {
  height: 100%;
  width: 100%;
}
.plyr:-webkit-full-screen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}
.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:-webkit-full-screen.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr:-webkit-full-screen .plyr__captions {
    font-size: 21px;
  }
}

/* stylelint-disable-next-line */
.plyr:-moz-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:-moz-full-screen video {
  height: 100%;
}
.plyr:-moz-full-screen .plyr__video-wrapper {
  height: 100%;
  width: 100%;
}
.plyr:-moz-full-screen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}
.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:-moz-full-screen.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr:-moz-full-screen .plyr__captions {
    font-size: 21px;
  }
}

/* stylelint-disable-next-line */
.plyr:-ms-fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:-ms-fullscreen video {
  height: 100%;
}
.plyr:-ms-fullscreen .plyr__video-wrapper {
  height: 100%;
  width: 100%;
}
.plyr:-ms-fullscreen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}
.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:-ms-fullscreen.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr:-ms-fullscreen .plyr__captions {
    font-size: 21px;
  }
}

.plyr--fullscreen-fallback {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000000;
}
.plyr--fullscreen-fallback video {
  height: 100%;
}
.plyr--fullscreen-fallback .plyr__video-wrapper {
  height: 100%;
  width: 100%;
}
.plyr--fullscreen-fallback.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}
.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr--fullscreen-fallback.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr--fullscreen-fallback .plyr__captions {
    font-size: 21px;
  }
}

.plyr__ads {
  border-radius: inherit;
  bottom: 0;
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.plyr__ads > div,
.plyr__ads > div iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}
.plyr__ads::after {
  background: rgba(47, 52, 61, 0.8);
  border-radius: 2px;
  bottom: 10px;
  color: #fff;
  content: attr(data-badge-text);
  font-size: 11px;
  padding: 2px 6px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  z-index: 3;
}
.plyr__ads::after:empty {
  display: none;
}

.plyr__cues {
  background: currentColor;
  display: block;
  height: 5px;
  left: 0;
  margin: -2.5px 0 0;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  width: 3px;
  z-index: 3;
}

.plyr__preview-thumb {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  opacity: 0;
  padding: 3px;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 50% 100%;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
  z-index: 2;
}
.plyr__preview-thumb--is-shown {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}
.plyr__preview-thumb::before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.9);
  bottom: -4px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  z-index: 2;
}
.plyr__preview-thumb__image-container {
  background: #b7c5cd;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.plyr__preview-thumb__image-container img {
  height: 100%;
  left: 0;
  max-height: none;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.plyr__preview-thumb__time-container {
  bottom: 6px;
  left: 0;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 3;
}
.plyr__preview-thumb__time-container span {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
}

.plyr__preview-scrubbing {
  bottom: 0;
  filter: blur(1px);
  height: 100%;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 1;
}
.plyr__preview-scrubbing--is-shown {
  opacity: 1;
}
.plyr__preview-scrubbing img {
  height: 100%;
  left: 0;
  max-height: none;
  max-width: none;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
}

.plyr--no-transition {
  transition: none !important;
}

.plyr__sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: 0 !important;
  height: 1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.plyr [hidden] {
  display: none !important;
}

